# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build
dist/

# Misc
.DS_Store
*.pem

# Local env files
.env*.local

# Vericel / Netlify / Vite config
.vite/
.nuxt/
.next/
out/
build/
